<ul>
    <li><a href="/">Главная</a></li>
    <li><a id="add" href="#">Добавить</a></li>
    <li><a id="menu" href="#">Меню</a></li>

    <%- include('popup.ejs') %>
    <%- include('menu.ejs') %>
</ul>
