.popup {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 7px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;

    &--hidden {
        display: none;
    }
}