<div class="navigation">
    <button class="navigation__toggle">Меню</button>

    <ul class="navigation__items hidden">
        <li><a href="/">Главная</a></li>
        <li><a href="/add">Добавить</a></li>
    </ul>
</div>
